<!doctype html>
<html>

	<head>
		<title>PropCam</title>
		<meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='/css/main.css'>
		<link rel="stylesheet" type="text/css" href="/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="/css/upload.css" />
		<!--<link rel="stylesheet" type="text/css" href="/css/property-details.css" /> -->

        <script src="/js/jquery-3.1.0.min.js"></script>
		<script src="/js/request.js"></script>
		<script src="/js/capture.js"></script>
		<script src="/js/sanitize.js"></script>
		<script src="/js/search.js"></script>
		<script src="/js/display.js"></script>
		<script src="/js/functions.js"></script>
		<script src="/js/feedback.js"></script>
		<script src="/js/upload.js"></script>
		<script src="/js/forTest.js"></script>
		<script src="/js/tabs.js"></script>
		<script src="https://apis.google.com/js/api.js"></script>
	</head>

	<body>
	<div  class="container">
		
		<header>
			<h1>MakaanCam</h1>
			<div class='callback-wrapper'>
				<span> Get a Callback</span>
			</div>
		</header>
		<section>
			<div class="tab">
  				<a href="javascript:void(0)" class="tablinks active" id="defaultOpen" onclick="openTab(event, 'capture')" onload="openTab(event,'capture')">Capture</a>
  				<a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'upload')">Upload</a>		
			</div>

			<div id="capture" class="tabcontent">
				<div class="camera">
					<video class="camera-view" id="video">Video stream not available.</video>
					<button class="camera-capture-button" id="startbutton"></button>
				</div>

				<div class="camera-result-wrapper">
					<div class="output">
						<img id="photo" alt="The screen capture will appear in this box.">
					</div>
					<button class="camera-data-retake camera-data-button" onclick="resetCamera()">Retake</button>
					<button class="camera-data-submit camera-data-button" onclick="hitAPI()">Submit</button>				
				</div>

				<div class="showResults" id="showResults_capture">
    				 <div class="result-header">
   						<div class='back-button'>
								<span id="back-to-capture">Back</span>
						</div>
    				 	<h1>Results</h1>
    				 </div>
    				 <div class="properties-list" id=capture-propperty-list></div>
    			</div>
			</div> 


			<div id="upload" class="tabcontent">
				<div class="form">
	  				<form action="/action_page.php">
						<label for="fileupload">Select an Image:</label>
	    				<input type="file" name="fileupload" value="fileupload" id="fileupload">
	    				<button type="button" id="submit">Select</button>
	    			</form>
    			</div>
    			<div class="showResults" id="showResults_upload">
    				 <div class="result-header">
   						<div class='back-button'>
								<span id="back-to-upload">Back</span>
						</div>
    				 	<h1>Results</h1>
    				 </div>
    				 <div class="properties-list" id=upload-propperty-list></div>
    			</div>
			</div>

		</section>
		<div class="modal"><span>Please wait... Loading...</span></div>
	</div>



	</body>
</html>
